In [53]:
import pandas as pd
df = pd.read_csv('data/superstore.csv', encoding='ISO-8859-1')
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ano Pedido'] = df['Order Date'].dt.year
summary = df.groupby(['Category', 'Ano Pedido'], as_index=False)['Sales'].sum()
summary['%'] = summary.groupby('Category')['Sales'].pct_change() * 100
summary = summary.dropna(how='any', subset=['%'])
summary[summary['%'] > 0.0]

           Category  Ano Pedido        Sales          %
1         Furniture        2015  170518.2370   8.477093
2         Furniture        2016  198901.4360  16.645257
3         Furniture        2017  215387.2692   8.288444
6   Office Supplies        2016  183939.9820  34.034351
7   Office Supplies        2017  246097.1750  33.792106
10       Technology        2016  226364.1800  39.060729
11       Technology        2017  271730.8110  20.041435